body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.search{
   display: inline;
   /* position: relative; */
   width: 20px;
   height: 20px;
  
}

nav{
    background-color: #212121;
    height: 60px;
    font-weight: 300;
}
.nav-items{

}

.logo-div{
    display: inline-block;
    position: relative;
    top: 0.7rem;
}
.rightItems{
    margin-left: 8rem;
    display: inline-flex;
    gap: 50px;
}
.undernavi{
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin-left: 5.1rem;
}
.center{
    position: relative;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto
}
.link{
    color: white;
    font-size: 16px;

}
.logo{
    height: 40px;
    width: 40px;
    margin-left: 4rem;
}


a{
    text-decoration: none;
}
/* .undernavi2{
    color: white;
    background-color: grey;
    position: relative;
    top: 25px;
    display: flex;
    text-align: center;
    height: 45px;
    width: 100em;
} */
.greyblock{
    background-color: #808080;
    height: 6vh;
    width: 98.vw;
    border-top: 2px solid #44d62c;
}
.undergrey{
    display: flex;
    justify-content: center;
    padding: 18px;
    font-size: medium;
    color: #f4f4f4; 
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1px;
}
.shopnow {
    color: #eee;
    font-size: 14px;
    font-weight: bold;   
}
.firstbg {
    background-color: rgb(37, 36, 36);
    height: 700px;
    width: 1349px;
    
    border-bottom: 12px solid rgb(53, 51, 51);
}
.BLADE{
    color: white;
    display: flex;
    justify-content: center;
    padding: 18px;
    /* font-size: medium; */
    /* color: #f4f4f4;  */
    margin: 0 auto;
    font-size: 45px;
    font-weight: BOLDER;
    line-height: 1px;
    position: relative;
    top: 60PX;
}
.REGISTER{
    color: white;
    display: flex;
    justify-content: center;
    padding: 18px;
    /* font-size: medium; */
    /* color: #f4f4f4;  */
    margin: 0 auto;
    font-size: 25px;
    font-weight: normal;
    line-height: 1px;
    position: relative;
    top: 75PX;
}

.lap{
    background-color: black;
    height: 290px;
    width: 277.5px;
    position: relative;
    top: 140px;
    left: 2px;
    display: inline;
}
.lap img{
width: 84em;
}
.second{
background-color: #44d62c;
    position: relative;
  
    width: 84.3rem;
    height: 33rem;
   

}
.second img{
    width: 100%;
    height:33rem ;
    display: block;
}


.TEXT{
position: absolute;
top:15px;
left: 15px;
width: 100%;
font-size: xx-large;
height: 54px;
padding-bottom: 100%;
display: flex;
justify-content: center;
}
.c{
    position: relative;
    left: em;
 
}
.d{
    position: relative;
    top: 2em;
    left: 0em;
    /* width: 0rem; */
}
